body{
 
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: monospace;
     background-color: #e4f9f5;
    font-size: 1.2em;
    
}
#grid-div{
	width:70%;
	margin:auto;
	display:grid;
	grid-template-columns:auto auto auto;
	grid-gap:20px;
}

h1{
    margin: 50px auto 0 auto;
    font-size:5.62rem;
    font-family: 'Sacramento', cursive;
    color: #66bfbf;
    line-height: 2.5;
   
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    color: #66bfbf;
    width: normal;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height:2;
}
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.sport-img{
    width: 25%;
    float: right;
    margin-left: 30px;


}
hr{
    border: dotted #707073f6 6px;
    border-bottom:none;
    width: 4%;
    margin: 100px auto;
}
.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #eaf6f6;
    padding: 20px 0px;
}
 li{
	list-style:none;
 }
a{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px ;
    text-decoration: none;
	margin:right;
}
a:hover{
    color:#cc99ff;
}
header{
	position:relative;
	padding: 0 2rem;
	

}
 .navbar{
	width:100px;
	height:60px;
	max-width:1300px;
	margin:0 auto;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
.navbar .logo a{
	font-size:1.5rem;
	font-weight:bold;
 
}

.navbar .links{
display:flex;
gap:2rem;
}

 
 
 
 
/* dropdown menu*/
	.dropdown_menu{
	position: absolute;
	right:2rem;
	top:60px;
	height:0;
	width:300px;
	background:rgba(255,255,255,01);
	backdrop-filter:blur(15px);
	border-radius:10px;
	overflow:hidden;
	transition:height 0.2s cubic-bazier(0.175,0.,885,0.32,1.275);
}

 
 
.dropdown_menu .action_btn{
	width:100%;
	display:flex;
	justify-content:center;
}


/* responsive design*/
@media(max-width: 992px){
	.navbar-links,
	.navbar .action_btn{
	display:none;
}
	.navbar .toggle_btn{
	display:block;
}
}

.top-container{
   background-color: #e4f9f5;
   position: relative;
   padding-top: 100px;
	
}
.cup{
	border-radius:2%;
	
}
.middle-container{
    margin: 100px 0;
}
.profile img{
    height: 250px;
    border-radius: 100%;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0 20px;
}
.bottom-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
 

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family:'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
 
  
 

 

 
 


 